

.mat-column-id, .mat-column-kode_provinsi, 
.mat-column-kode_kabupaten_kota, 
.mat-column-satuan, .mat-column-tahun,
.mat-column-nama_provinsi, .mat-column-nama_kabupaten_kota, 
.mat-column-produksi_tomat
{
    font-size: 1em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.mat-column-id, .mat-column-kode_provinsi, 
.mat-column-kode_kabupaten_kota, 
.mat-column-satuan, .mat-column-tahun
{
    justify-content: center;
    max-width: 100px;
}

.mat-column-produksi_tomat
{
    justify-content: center;
    max-width: 150px;
}

.mat-column-actions {
    justify-content: center;
    max-width: 150px;
}

.mat-column-nama_provinsi, .mat-column-nama_kabupaten_kota
{
    justify-content: center;
}

.mat-cell.mat-cell.cdk-cell.cdk-column-nama_kabupaten_kota.mat-column-nama_kabupaten_kota.ng-star-inserted,
.mat-cell.mat-cell.cdk-cell.cdk-column-nama_provinsi.mat-column-nama_provinsi.ng-star-inserted
{
    justify-content: left;
}

.mat-cell.mat-cell.cdk-cell.cdk-column-produksi_tomat.mat-column-produksi_tomat.ng-star-inserted
{
    justify-content: right;
    // margin-right: 50px;
}